// Specific CSS for your home-page
.banner {
  height: 600px;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  asset-url("home-background.jpg");
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  h1 {
    font-size: 80px;
  }
}

.banner h2 {
  padding-bottom: 70px;
}
