<h1>All Camping Spots</h1>

<ul>
  <% @camping_spots.each do |camping_spot| %>
    <li><%= link_to camping_spot.location, camping_spot_path(camping_spot) %>: <%= camping_spot.description %></li>
  <% end %>
</ul>

<%= link_to 'Add a new camping spot', new_camping_spot_path %>
