<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github shadow p-1 mb-8 bg-black rounded"></i></a>
    <a href="#"><i class="fab fa-instagram shadow p-1 mb-8 bg-black rounded"></i></a>
    <a href="#"><i class="fab fa-facebook shadow p-1 mb-8 bg-black rounded"></i></a>
    <a href="#"><i class="fab fa-twitter shadow p-1 mb-8 bg-black rounded"></i></a>
    <a href="#"><i class="fab fa-linkedin shadow p-1 mb-8 bg-black rounded"></i></a>
  </div>
</div>
