h1.index-title {
    margin-bottom: 40px;
}


.card-container {
  background-color: white;
  display: flex;
  overflow: hidden;
  height: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  padding: 15px;
  img {
    height: 100%;
    width: 50%;
    object-fit: contain;
  }
}

.card-container__items {
  padding-top: 30px;
  padding-left: 15px;
  position: relative;
  width: 50%;
  h2 {
    font-size: 20px;
  }
}

h2.card-price {
  position: absolute;
  right: 15px;
  bottom: 15px;
 }

.card-text p {
  margin-top: 20px;
}

.show-card {
  min-height: 60vh;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  color: $yellow;
  img {
    width: 100%;
    height: 50%;
    object-fit: contain;
  }
}

.show-card-content {
  width: 100%;
  margin: 0 auto;
}

.show-card-items {
  width: 100%;
}

.my-spots {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-delete {
  margin-top: 60px;
  position: absolute;
  bottom: 10px;
  right: 250px;
}

img.host-img {
  width: 100%;
}

.confirm {
  position: absolute;
  right: 330px;
  bottom: 15px;
}
