.navbar-splat {
  justify-content: space-between;
  background: $beige;
  position: sticky;
  top: 0;
  z-index: 10;
  color: $gray;
}

.navbar-splat .navbar-collapse {
  flex-grow: 0;
}

.nav-item a:hover{
  color: $gray;
  background-color: white;
}

.navbar-splat .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  background-color: rgba(193, 110, 25, 0.212);
  border-radius: 50%;
  width: 50px;
}
