.navbar-lewagon {
  justify-content: space-between;
  background: #E2CCC2
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  background-color: rgba(193, 110, 25, 0.212);
  border-radius: 50%;
  width: 50px;
}
