.navbar-splat {
  justify-content: space-between;
  background: #E2CCC2;
}

.navbar-splat .navbar-collapse {
  flex-grow: 0;
}

.nav-item a:hover{
  background-color: white;
}

.navbar-splat .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  background-color: rgba(193, 110, 25, 0.212);
  border-radius: 50%;
  width: 50px;
}
