// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.container {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: calc(100vh - 150px);
}
